/*----Media Queries----*/
@media (max-width: 1200px) {
}

@media (max-width: 992px){

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

.example{
    background: #ff0000;
    color: white;
    text-align: center;
}